.jobInfo {
  display: flex;
  padding: 15px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.jobInfo__body {
  width: 100%;
  margin-left: 30px;
}
.applied__btn {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
  border-color: var(--ligray-color);
  font-size: 15px;
  color: white;
  background-color: black;
  cursor: pointer;
}
.jobInfo__about {
  padding: 10px;
  margin: 50px;
  border: 1px solid var(--ligray-color);
}
.jobInfo__description {
  padding: 10px;
  margin: 50px;
  border: 1px solid var(--ligray-color);
}

.about__title {
  border-bottom: 1px solid var(--ligray-color);
  width: 100%;
}
.about__title h2 {
  display: inline-block;
  border-bottom: 1px solid red;
}
.description__title {
  border-bottom: 1px solid var(--ligray-color);
  width: 100%;
}
.description__title h2 {
  display: inline-block;
  border-bottom: 1px solid red;
}
