@import "../../globalVariables.css";

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--ligray-color);
}

.navbar__logo {
  color: var(--gray-color);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navbar__item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: var(--gray-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: var(--primary-color);
}

.fa-bars {
  color: var(--gray-color);
}

.nav-links-mobile {
  display: none;
}

.navbar__menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-radius: 0;
    color: var(--primary-color);
  }

  .navbar__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .navbar__menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--gray-color);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.2rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 50%;
    background: var(--primary-color);
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }

  .nav-links-mobile:hover {
    background: var(--secondary-color);
    color: var(--gray-color);
    transition: 250ms;
  }

  .sign-up__btn {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .navbar__logo {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .navbar__menu-icon {
    font-size: 1.2rem;
  }
}

.sign-up__btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.sign-up__btn:hover {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
