.profile_top {
  height: 300px;
  margin: 10px 40px;
  border: 1px solid rgb(201, 201, 201);
}
.profile_image {
  height: 80%;
  margin: 10px;
}
.profile_sections {
  display: flex;
  padding: 10px;
  border-top: 1px solid rgb(201, 201, 201);
}
.profile_sections p {
  margin-right: 30px;
}
.profile_sections p:hover {
  color: red;
  cursor: pointer;
}

.section_info {
  height: 600px;
  margin: 30px;
  border: 1px solid rgb(201, 201, 201);
}

.profile_image {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
