.profile_top {
  height: 300px;
  margin: 10px 40px;
  border: 1px solid rgb(201, 201, 201);
}
.profile_image {
  height: 80%;
  margin: 10px;
}
.profile_sections {
  display: flex;
  padding: 10px;
  border-top: 1px solid rgb(201, 201, 201);
}

.section_info {
  height: 800px;
  margin: 40px;
  border: 1px solid rgb(201, 201, 201);
}

.section__button {
  margin-right: 30px;

  border: none;
  background-color: transparent;
}

.section__button:hover {
  cursor: pointer;
}
.section__button:focus {
  color: red;
}
