@import "../../globalVariables.css";

.home__search {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin: 5%;
  border-radius: 20px;
}
.home__search input {
  margin: 20px;
  width: 30%;
  height: 30px;
}
.home__search button {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  height: 40px;
}
