@import "../../globalVariables.css";

.home {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 115px;
  border: 1px solid var(--secondary-color);
  background-image: url("https://www.newkiwis.co.nz/media/1009/home-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 40px;
  }

  .home__info {
    margin-top: 100px;
  }
  .home__info-box {
    margin: 40px;
  }
  .home__info-box a {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    height: 550px;
  }
  h1 {
    font-size: 35px;
  }
  .home__info {
    flex-direction: column;
  }
  .home__info-box a {
    font-size: 14px;
  }
}

.home__info {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.home__info-box {
  margin: 20px;
  background: rgba(51, 51, 51, 0.35);
  padding:30px;
}
.job-seeker {
  color: rgb(245, 241, 241);
}
.home__info-box h2 {
  font-size: 27px;
  margin: 10px;
}

.home__info-box a {
  cursor: pointer;
  font-size: 10px;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  text-decoration: none;
}
