@import "../../../globalVariables.css";

.job {
  display: flex;
  padding: 15px;
  cursor: pointer;
}
.job:hover {
  background-color: rgb(224, 224, 224);
}
.job__body {
  width: 100%;
  border-bottom: 1px solid var(--ligray-color);
  margin-left: 30px;
}
.job__img {
  padding: 10px;
  height: 100px;
  width: 100px;
}
.job__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--black-color);
}
.job__subtitle {
  color: var(--gray-color);
}
.job__badge {
  color: var(--gray-color);
}

.job__save {
  font-size: 12px;
}
.job__save:hover {
  color: gray;
  zoom: 1.1;
}
