.searchForm {
  display: flex;
  border-radius: 20px;
  width: 60%;
  margin: 60px;
}
.searchForm__row {
  display: flex;
  width: 100%;
}
.searchForm__group {
  width: 100%;
}
.searchForm input {
  font-size: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--ligray-color);
  border-radius: 5px;
}
